{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

		<div class="row">
			<h1 class="display-2">{{location.name}}</h1>
		</div>
		<div class="row">
			<a href = "{{ url_for('showLocations')}}" class="btn btn-primary">Other Locations</a>
		</div>
		<br>
		<div class="flash row blockquote text-muted">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			<div class="container">
			{% for message in messages %}
				<div class="alert alert-info lead" role="alert"><strong>{{message}}</strong></div>
				{% endfor %}
			</div>
			{% endif %}
			{% endwith %}
		</div>
		<div class="row">
			{% for i in items %}
			<div class="card">
				<div class="card-block">
					<div class="blockquote">
						<span class="h2"><p>{{i.name}}</p></span>
						<span class="lead"><p>{{i.price}}</p></span>
					</div>
					<p class="card-text">{{i.description}}</p>
				</div>
				<div class="card-footer">
					<a href='{{url_for('editMenuItem', location_id = location.id, menu_id = i.id) }}' class="card-link btn btn-warning">Edit</a>
					<a href = '{{url_for('deleteMenuItem', location_id = location.id, menu_id = i.id ) }}' class="card-link btn btn-danger">Delete</a>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
		<div class="row">
			<a href='{{url_for('newMenuItem', location_id = location.id) }}' class="btn btn-success">Create menu item</a>
		</div>

{% endblock %}